:root {
  --light_blue: #0095f6;
}
:root {
  --insta_new_font: "Satisfy", cursive;
}
:root {
  --notification_color: #ff3051;
}
:root {
  --insta_pink_color: #d92670;
}
:root {
  --active: color 0.5s ease-in-out;
}
:root {
  --main_border: 1px solid rgba(0, 0, 0, 0.2);
}
:root {
  --gray_font_color: rgba(0, 0, 0, 0.5);
}
