.insta_to_start {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 15px 20px;
}
.insta_logo {
  font-family: var(--insta_new_font);
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  margin: 20px 0 15px 17;
}
.my_likes_messages {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.stories_from_people {
  display: flex;
  flex-direction: row;
}
.story_from_individual {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.stories_from_people img {
  height: 60px;
  width: 60px;
  display: flex;
  border-radius: 50%;
  border: 2px solid #d92670;
  padding: 2px;
}
.story_from_individual span {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  margin: 5px 0 10px 0;
}
.intro_main_post {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.intro_main_post i {
  margin-right: 10px;
}
.intro_main_post img {
  height: 28px;
  width: 28px;
  border: 1px solid #d92670;
  padding: 2px;
  border-radius: 50%;
  background-position: right;
}
.intro_main_post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 0 5px;
}

.intro_main_post_user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.intro_main_post_user span {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
}
.main_post {
  margin-top: 7px;
  height: 385px;
  width: 385px;
  object-fit: cover;
}
.more_options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.more_options i:not(:last-child) {
  margin-right: 15px;
}
.like_on_post {
  font-size: 15px;
}
.like_on_post,
.text_on_post_name {
  font-weight: 600;
}
.text_on_post {
  font-size: 13px;
  margin: 5px 0 5px 0;
}
.text_on_post_more {
  opacity: 0.4;
}
.reaction_on_post img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.reaction_on_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reaction_on_post_reply,
.reaction_on_post_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.above_the_post_pic {
  margin: 15px 15px 0 15px;
}
.text_on_post {
  line-height: 18px;
}
.reaction_on_post span {
  margin-left: 10px;
  font-size: 14px;
}
.reaction_on_post i {
  margin-right: 10px;
}
.reaction_on_post i:first-child {
  color: red;
}
.reaction_on_post i:nth-child(2) {
  color: #ffd164;
  fill: #ffd164;
}
