.message_menu {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 18px;
}
.message_menu div {
  width: 25%;
  padding-bottom: 13px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.message_menu div:nth-child(2) {
  border-bottom: 2px solid black;
}
.msg_box_user_pic {
  height: 55px;
  width: 55px;
}
.mgs_box_column_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
