.my_story {
  background-color: black;
  color: white;
}
.story-photo {
  display: flex;
  justify-content: center;
  margin: 0 7px;
  padding: 7px 0;
}
.story-photo_bar {
  background-color: rgba(248, 246, 246, 0.897);
  width: 65px;
  height: 2px;
}
.story-photo span {
  margin-right: 3px;
  width: 200px;
}
.story-photo_bar:last-child {
  position: relative;
  background: rgba(195, 195, 195, 0.13);
}
.story-photo_bar-inner {
  width: 200px;
  height: 2px;
  position: absolute;
  background-color: rgba(248, 246, 246, 0.897);
  top: 0px;
  bottom: 0px;
  animation: loader 5s linear;
}
@keyframes loader {
  0% {
    width: 0px;
  }
}
.intro_main_post i {
  margin-right: 10px;
}
.my_story_user img {
  border: none;
}
.my_story_user_menu {
  margin: 0 5px 0 17px;
  border: none;
}
.my_story_icons {
  display: flex;
  align-items: center;
}
.my_story_icon {
  margin-left: 15px;
}

.my_story_main {
  height: 760px;
  width: 100%;
  border-radius: 10px;
  margin-top: 45px;
  background: linear-gradient(360deg, #858484 0%, #535353 35%, #282828 100%);
}
.my_story_post {
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my_story_post img {
  height: 300px;
}
.my_story_post_img {
  position: relative;
}
.my_story_post_text {
  font-style: italic;
  font-size: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: 600;
}
.my_story_message {
  display: flex;
  margin-top: 30px;
}
.my_story_message {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_story_message input {
  width: 75%;
  height: 15px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid white;
  opacity: 0.7;
  padding: 15px 0 15px 20px;
  font-size: 17px;
}
.my_story_message_send {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  cursor: not-allowed;
}
.my_story_message_send i {
  color: white;
  padding: 5px 0;
  font-size: 23px;
}
