.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 30px 30px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: white;
}
.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_btn img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}
.nav_link {
  display: flex;
}
.nav_notification_dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--notification_color);
  position: absolute;
  bottom: 23px;
  right: 389px;
}
