.notice_scl {
  transition: var(--active);
  animation: clickHere 1s linear infinite;
  animation-delay: 5s;
  will-change: transform;
}
@keyframes clickHere {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}
.notice_scl:hover {
  color: var(--insta_pink_color);
}
.post_none_delay {
  animation-delay: 0s;
}
