.status-bar_inversion {
  color: white;
}
.status-bar {
  display: flex;
  justify-content: center;
  padding: 13px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
.status-bar_column {
  width: 33%;
}
.status-bar_column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar_column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar_column span:first-child {
  margin-right: 5px;
}
.status-bar_column i:nth-child(3) {
  margin-left: 5px;
}
